@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    box-sizing: border-box;
}
/* justify-content will work if we have height assigned as 100vh */
body{
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* The scroll bars are hidden*/
}

.aus {
    background-image: url('images/Australia.jpg');
}
.hk {
    background-image: url('images/HongKong.jpg');
}
.jp {
    background-image: url('images/Japan.jpg');
}
.lon {
    background-image: url('images/London.jpg');
}
.usa {
    background-image: url('images/USA.jpg');
}

.header1 {
    border-bottom: 1px solid black;
    margin-left: 7vw;
    width: 15%;
}

.container {
    display: flex;
    width: 90vw;
    margin: 0 5vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in-out;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.4;
}

@media (max-width: 550px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}